# Git-Ignore file _________________________________________

# macOS files _____________________________________________
.DS_Store

# Visual-Studio Code ______________________________________
.vscode/
*.code-workspace

